

.form-control {
  align-items: center;
  color: #4e8d07;
    }

.form-group {
  color: #dfa90d;
  margin: 3em .5em 1em .5em;
  height: 2em;
}

.btn {
  margin: 1em .5em .2em .5em;
  height: 2em;
  width: 8em;
  color: #fff;
  background-color: #005d21;
  border: none;
  border-radius: 2px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.logo {
  color: #dfa90d;
  font-family: Papyrus, Herculanum, Party LET, Curlz MT, Harrington, fantasy;
  padding: 5%;

}

.right{
  right: 0;
  background-color: black;
  color: #ffffff;
  font-family: sans-serif;

}

.NoteForm {
  padding: 20px;
}

.NoteForm button {
  border-radius: 2px;
  padding: 8px;
  color: white;
  background: #1e7b1e;
  border: none;
  margin: 1em .5em .2em .5em;
  width: 8em;
}

.NoteForm button:hover {
  background-color: #239023;

}


.left {
  left: 0;

  background-color: white;
}

.notesBody {

  margin: 10px 10px 10px 10px;
}

.Note {
  background-color: white;
  padding: 1em;
  color: sienna;
  margin: 10px 10px 10px 10px;
  border-radius: 3px;
}

.split {
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  width: 50%;
  height: 100%;
}

.splitHalf {
    width: 50%;
    height: 100%;
}

.splitQuarter{
  width: 75%;
  height: 100%;
}

.p {
  text-align: justify;
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
